.orange-marker {
    /* Make points at low zoom (<100%) haligned. */
    line-height: 0;
}
.orange-marker span {
    font-size: 10pt;
    overflow: visible;
    white-space: nowrap;
    color: black;
    background: #ddd;
    border-radius: 5px;
    float: right;
    position: absolute;
    bottom: -5px;
    margin-left: 5px;
    z-index: inherit;
}
.orange-marker img {
    -webkit-filter:
        drop-shadow(.5px .5px 0px black)
        drop-shadow(-.5px .5px 0px black)
        drop-shadow(.5px -.5px 0px black)
        drop-shadow(-.5px -.5px 0px black);
    filter:
        drop-shadow(.5px .5px 0px black)
        drop-shadow(-.5px .5px 0px black)
        drop-shadow(.5px -.5px 0px black)
        drop-shadow(-.5px -.5px 0px black);
}
.orange-marker-selected img {
    -webkit-filter: drop-shadow(0px 0px 1.5px lime) drop-shadow(0px 0px 1.5px lime) !important;
    filter: drop-shadow(0px 0px 1.5px lime) drop-shadow(0px 0px 1.5px lime) !important;
}
