[run]
parallel = 1
concurrency =
    multiprocessing
    thread
source =
    Orange
omit =
    Orange/canvas/*
    Orange/widgets/*
    Orange/tests/*
    */setup.py
    */*/setup.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    except MemoryError
