
recursive-include Orange *.pyx *.py *.c *.cpp README* LICENSE
recursive-include Orange/datasets *.tab *.basket *.info *.dst *.metadata

recursive-include Orange/tests *.tab *.basket *.xlsx

recursive-include Orange/canvas *.qss *ico *.png *.svg *.ico *.html
recursive-include Orange/canvas/application/workflows *.ows

recursive-include Orange/widgets *.png *.svg
recursive-include Orange/widgets/_highcharts *.js *.css *.html
recursive-include Orange/widgets/utils/_webview *.js
recursive-include Orange/widgets/utils/plot *.fs *.vs *.gs *.obj

recursive-include distribute *.svg *.desktop

include requirements*.txt

include README.md
include CONTRIBUTING.md
include CHANGELOG.md
include COPYING
include LICENSE
include setup.py
include setup.cfg
