baycomp>=1.0.2
bottleneck>=1.3.4
catboost>=1.0.1
# Encoding detection
chardet>=3.0.2
httpx>=0.21.0
# Multiprocessing abstraction
joblib>=1.0.0
keyring
keyrings.alt    # for alternative keyring implementations
networkx
numpy>=1.20.0
openpyxl
openTSNE>=0.6.1,!=0.7.0  # 0.7.0 segfaults
pandas>=1.4.0,!=1.5.0,!=2.0.0
pip>=18.0
python-louvain>=0.13
pyyaml
requests
scikit-learn>=1.1.0,<1.2.0
scipy>=1.9
serverfiles		# for Data Sets synchronization
setuptools>=51.0.0
xgboost>=1.7.4
# Reading Excel files
xlrd>=1.2.0
# Writing Excel Files
xlsxwriter
