pip>=9.0
numpy>=1.9.0
scipy>=0.16.1
scikit-learn>=0.18.1
bottleneck>=1.0.0
# Reading Excel files
xlrd>=0.9.2
# Encoding detection
chardet>=3.0.2
# Multiprocessing abstraction
joblib>=0.9.4
keyring
keyrings.alt    # for alternative keyring implementations
dill
setuptools>=36.3
serverfiles		# for Data Sets synchronization
