# Fixed requirements file for creating a python environment for
# macOS Orange.app.

# Prebuild dependencies that themself do not publish wheels (e.g. bottleneck)
--find-links=https://orange.biolab.si/download/files/wheelhouse

AnyQt==0.0.8
Bottleneck==1.2.0
chardet==2.3.0
dill==0.2.6
docutils==0.13.1
joblib==0.11
keyring==10.3.1
keyrings.alt==2.2
numpy==1.12.1
PyQt5==5.8.2
pyqtgraph==0.10.0
scikit-learn==0.18.1
scipy==0.19.0
sip==4.19.2
six==1.10.0
xlrd==1.0.0
