<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Orange</string>
	<key>CFBundleIconFile</key>
	<string>orange.icns</string>
	<key>CFBundleIdentifier</key>
	<string>si.ailab.Orange</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Orange</string>
	<key>CFBundleGetInfoString</key>
	<string>Orange, component-based data mining software</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Orng</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ows</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Orange Canvas Schema</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OWSf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>schema.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
